<meta charset="utf-8">

<meta content="width=device-width, initial-scale=1" name="viewport">

<title>Brisia | Casas aledañas a zona 16</title>

<meta name="description"
    content="Brisia - Un nuevo proyecto residencial en Piedra Parada, zona 16. Casas de 3 dormitorios desde $245" />

<link rel="canonical" href="http://brisia.com.gt/" />

<meta property="og:locale" content="es_ES" />

<meta property="og:type" content="website" />

<meta property="og:title" content="Brisia Casas en Piedra Parada, Casas aledañas a zona 16" />

<meta property="og:description"
    content="Brisia - Un nuevo proyecto residencial en Piedra Parada, zona 16. Casas de 3 dormitorios desde $245" />

<meta property="og:url" content="https://brisia.com.gt/" />

<meta property="og:site_name" content="Brisia Casas en Piedra Parada, Casas aledañas a zona 16" />

<meta property="article:modified_time" content="2021-08-26T21:48:24+00:00" />

<meta property="article:publisher" content="https://www.facebook.com/Brisia-108455534797337/" />

<meta property="og:image" content="https://brisia.com.gt/cover.jpeg" />

<meta name="twitter:card" content="summary_large_image" />
